.App-root {
  flex-grow: 1
}

.App-flex {
  flex: 2
}

.App-Button {
  color: white !important
}

.App-Name {
  margin-right: 15px;
  margin-left: 3px;
  font-size: 20px;
  font-family: "Courier New"
}
